nav>ul>li {
    color: yellow;
    list-style: none;
}

article>main {
    background-color: #535353;
    padding: 1.5rem;
    border-bottom: 1px solid;
    border-color: #ffffff;
    
    
    
}


body {
    background-color: black;
    color: white;
}

article {
    padding: 1.5rem;
    border-bottom: 1px;
    border-color: #faebd7;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 8;
}

figure {
    border: 4px solid white;
    
}


.ilustracion figcaption {
    margin-top: 1rem;
    margin-left: 1rem;
    font-style: italic;
}


aside {
    border: 3px solid;
    border-color: orange;
    background-color: green;
    padding-top: 10px;
    offset-position: 10px;
}